/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.01% and not dead and not op_mini all
*/

.form-container {
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100%;
}

.form {
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: flex;

    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-weight: normal;
    height: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.form-field-error-message {
    margin: 0.5rem;
}

.invalid-form-field {
    background-color: #ffbfbf;
    box-sizing: border-box;
    outline: 3px solid #4f2727;
}

.form-submit-message {
    -webkit-align-items: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.submit-success {
    background-color: #bfffbf;
    color: #002000;
}

.submit-success:focus {
    outline: 3px dashed #274f27;
}

.submit-error {
    background-color: #ffbfbf;
    color: #200000;
}

.submit-error:focus {
    outline: 3px dashed #4f2727;
}

.form-label {
    margin-bottom: 0.3rem;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
}

.form-textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.flex-grow-field {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.form-submit {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

@media (min-aspect-ratio: 5/4) {
    .form-container {
        padding: 0 12.5%;
    }

    .flex-grow-field {
        -moz-box-flex: 0;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        min-height: 16rem;
    }

    .form-submit {
        width: 30%;
    }
}