.categories-list {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.category-item {
    align-items: center;
    background-color: #062d47;
    border-radius: 1.5rem;
    color: white;
    display: flex;
    font-size: 3rem;
    height: 9rem;
    hyphens: auto;
    justify-content: center;
    list-style-type: none;
    margin-top: 2rem;
    text-align: center;
    width: 90%;
    word-break: break-word;
}

@media (min-aspect-ratio: 5/4) {
    .categories-list {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .category-item {
        font-size: 4rem;
        width: 30%;
    }
}