.categories-list {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.category-item {
    display: flex;
    height: 9rem;
    hyphens: auto;
    list-style-type: none;
    margin-bottom: 2rem;
    width: 90%;
    word-break: break-word;
}

.category-link {
    align-items: center;
    background-color: #062d47;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 3rem;
    height: 100%;
    justify-content: center;
    outline-offset: -8px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

@media (min-width: 1200px) {
    .categories-list {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .category-item {
        width: 30%;
    }

    .category-link {
        font-size: 2.5rem;
    }
}
