.page-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 1.5rem 1rem;
}

.inline-link {
    outline-offset: 4px;
}

.loading {
    font-size: 2rem;
    text-align: center;
    width: 100vw;
}
