.page-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 1.5rem 1rem;
}

.inline-link {
    outline-offset: 4px;
}

.loading {
    font-size: 2rem;
    text-align: center;
    width: 100vw;
}

.text-page-container {
    background-color: #FAFAFA;
    border: 2px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    font-size: 1.25rem;
    padding: 1rem;
    row-gap: 1rem;
}

.text-page-section {
    display: flex;
    flex-flow: column wrap;
    margin-top: 1rem;
    row-gap: 1rem;
}

.text-page-section-heading {
    display: inline;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0.25rem 0.25rem 0 0.25rem;
    outline-offset: 4px;

}

.text-page-paragraph {
    display: inline-block;
    line-height: 1.5rem;
    margin: 0;
}

@media (min-width: 961px) {
    .text-page-container {
        align-self: center;
        max-width: 66%;
        padding: 1rem 2rem;
    }

    .text-page-section {
        box-sizing: border-box;
    }

    .text-page-section > p {
        padding: 0 2rem;
    }
}