.welcome-page-container {
    background-color: #fafafa;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1rem;
}

.welcome-page-paragraph {
    display: inline-block;
    line-height: 2rem;
    margin: 0 0 1rem 0;
}

@media (min-width: 961px) {
    .welcome-page-container {
        align-self: center;
        max-width: 66%;
    }
}
