.category-section {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    row-gap: 1.5rem;
}

.category-heading-container {
    text-align: center;
    width: 100%;
}

.category-heading {
    display: inline;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

.business-card {
    border: 2px solid black;
    flex: 0 0 auto;
    padding: 0.5rem 0;
    width: 100%;
}

caption {
    font-size: 1.25rem;
}

th {
    padding: 0.5rem;
    text-align: left;
}

td {
    padding: 0.5rem 0.5rem 0.5rem 0;
}

@media (min-aspect-ratio: 5/4) {
    .category-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .business-card {
        flex: 1 1 auto;
        max-width: 49%;
    }
}