.category-section {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    row-gap: 1.5rem;
}

.category-heading-container {
    text-align: center;
    width: 100%;
}

.category-heading {
    display: inline;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

.business-card {
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0.5rem 1rem 1rem;
    row-gap: 1rem;
    width: 100%;
}

.business-card-heading {
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
}

.bussines-card-row {
    display: flex;
    width: 100%;
}

.business-card-label {
    width: 25%;
}

.business-card-value {
    width: 75%;
}

.business-card-link:focus {
    outline: 3px dashed #c39738;
    outline-offset: 4px;
}

@media (min-aspect-ratio: 5/4) {
    .category-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .business-card {
        flex: 1 1 auto;
        max-width: 49%;
    }

    .business-card-label {
        width: 15%;
    }

    .business-card-value {
        width: 85%;
    }
}