.container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;

    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-weight: normal;
    height: 100%;
}

input {
    flex-shrink: 0;
    margin-bottom: 1rem;
}

textarea {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.submit {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

@media (min-aspect-ratio: 5/4) {
    .container {
        padding: 0 12.5%;
        width: 100vw;
    }

    textarea {
        flex-grow: 0;
        min-height: 12rem;
    }

    .submit {
        width: 30%;
    }
}