/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.01% and not dead and not op_mini all
*/

.container {
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100%;
}

.message {
    -webkit-align-items: center;
    align-items: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    min-height: 3rem;
    padding: 1rem;
    width: 100%;
}

.success {
    background-color: #bfffbf;
    color: #002000;
}

.success:focus {
    outline: 3px dashed #274f27;
}

.error {
    background-color: #ffbfbf;
    color: #200000;
}

.error:focus {
    outline: 3px dashed #4f2727;
}

.form {
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-box;
    display: flex;

    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    font-weight: normal;
    height: 100%;
}

input {
    margin-bottom: 1rem;
}

textarea {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.submit {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

@media (min-aspect-ratio: 5/4) {
    .container {
        padding: 0 12.5%;
    }

    textarea {
        -moz-box-flex: 0;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        min-height: 12rem;
    }

    .submit {
        width: 30%;
    }
}