@font-face {
    font-family: 'Karla';
    src: local("src/assets/Karla-VariableFont_wght.ttf");
}

body {
    font-family: Karla, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: 3px dashed #c39738;
    outline-offset: -4px;
}

button {
    background-color: #062d47;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
    font-family: inherit;
}

button:hover {
    background-color: #052238;
}

button:active {
    background-color: #031727;
    cursor: pointer;
}

button:disabled {
    background-color: #808080;
}

input {
    font-family: Karla, sans-serif;
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.3rem;
}

textarea {
    font-family: Karla, sans-serif;
    font-size: 1rem;
    padding: 0.3rem;
}