@font-face {
    font-family: 'Karla';
    src: local("src/assets/Karla-VariableFont_wght.ttf");
}

body {
    font-family: Karla, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}

.Button--primary {
    background-color: #062d47;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    color: white;
}

.Button--primary:hover {
    background-color: #052238;
    cursor: pointer;
}

.Button--primary:active {
    background-color: #031727;
    cursor: pointer;
}