@font-face {
    font-family: 'Karla';
    src: local("src/assets/Karla-VariableFont_wght.ttf");
}

body {
    font-family: Karla, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}